{% extends "chatbot/nav_header.html" %}

{% block title %}Chat{% endblock %}

{% block extra_style%}
    {% load static %}
    <link rel="stylesheet" href="{% static 'chatbot/chat.css' %}">
    <script
      src="https://kit.fontawesome.com/21af3ff68a.js"
      crossorigin="anonymous"
    ></script>
    <script defer src="{% static 'js/chat.js' %}"></script>
{% endblock %}

{% block content %}
<div class="chat-message" id="existingChatMessages">
    {% for message in messages %}
        <div class="chat-card {% if message.conversation.user.username == user.username %}sent{% else %}received{% endif %}">
            <div class="chat-text {% if message.conversation.user.username == user.username %}sent{% else %}received{% endif %}">{{ message.text }}</div>
            <div class="chat-owner">
                <img class="chat-avatar" src="{% static 'chatbot/' %}{% if message.conversation.user.username == user.username %}user.png{% else %}ai.png{% endif %}" 
                     alt="Avatar">
                <div class="chat-info">
                    <div class="chat-author">{{ message.conversation.user.username }}</div>
                    <div class="chat-timestamp">{{ message.timestamp }}</div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>

<!-- Chat Input Form -->
<form method="POST" class="send-chat" id="chatForm">
    {% csrf_token %}
    <textarea name="text" class="new-chat-message" placeholder="Enter a new chat message" required></textarea>
    <button type="submit" class="send-button">
        <i class="fa-solid fa-paper-plane"></i>
    </button>
</form>
{%endblock%}

